.tourlist-container {
  background-image: url("../assests/reservationConfirmBackground.png");
  min-height: 100vh;
}

.tourlist-options-div {
  background-color: white;
  padding: 40px 30px;
  display: flex;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90vh;
  width: 90vw;
  border-radius: 10px;
  padding-bottom: 20px;
  overflow: auto;
  transform: translate(-50%, -50%);
}

.tourlist-options {
  width: 23%;
  border: 1px solid var(--gray-color);
  border-radius: 10px;
  height: fit-content;
}

.tourlist-options > div > div {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.tourlist-options > div {
  padding: 20px;
}

.tourlist-options > div h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.tourlist-options > div:last-child {
  border-top: 1px solid var(--gray-color);
}

.tourlist-options div input {
  width: 14px;
  height: 14px;
}

.tourlist-options div span {
  font-size: 16px;
  margin-left: 6px;
}

.tourlist-departure-trips,
.tourlist-arrival-trips {
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
.tourlist-trips {
  flex: 1;
  height: fit-content;
}

.tourlist-div {
  display: flex;
  gap: 3.5px;
  font-size: clamp(14px, 2vw, 14px);
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--gray-color);
  overflow: hidden;
  background-color: gainsboro;
  margin-bottom: 15px;
}

.tourlist-div > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-block: 10px;
  text-align: center;
  padding-inline: 5px;
}

.tourlist-div > div:last-child {
  max-width: 120px;
  color: orange;
  cursor: pointer;
}

.tourlist-div > div p {
  margin-bottom: 5px;
}
.tourlist-div .tourlist-features-div {
  display: flex;
  gap: 7px;
}

@media (max-width: 1020px) {
  .tourlist-options-div {
    flex-direction: column;
    width: 95%;
    padding-inline: 20px;
    padding-block: 30px;
  }
  .tourlist-options {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .tourlist-options > div:last-child {
    border-top: none;
    border-left: 1px solid var(--gray-color);
  }
}

@media (max-width: 760px) {
  .tourlist-div {
    flex-wrap: wrap;
    gap: 2px;
  }
  .tourlist-div > div {
    min-width: 200px;
    max-width: none !important;
  }
  .tourlist-departure-trips {
    padding-inline: 15px;
  }
}

@media (max-width: 600px) {
  .tourlist-options {
    flex-direction: column;
  }
  .tourlist-options > div:last-child {
    border-left: none;
    border-top: 1px solid var(--gray-color);
  }
}
