.containerflight {
  background-image: url("../assests/reservationConfirmBackground.png");
}

.search-trip-btn {
  background-color: #f35300 !important;
}

.containerflight h3 {
  margin-bottom: 0px !important;
}
.containerflight > div > h3 {
  text-align: left;
  color: white !important;
  padding-top: 20px;
}
.flightransport {
  width: 7%;
  height: 100%;
}
.transpornat {
  cursor: pointer;
}
.radiogroup {
  display: flex;
  flex-direction: row;
}
.transpornat-options-div {
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.content {
  background-color: white;
  padding-inline: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
  border-top-left-radius: 0px;
}
.transpornat-options-div div {
  background-color: #804518;
  width: max-content;
  color: white;
  padding: 5px 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  margin-right: 20px;
}

.flights-div {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-direction: row !important;
}

.flights-grid {
  display: grid;
  gap: 10px;
  align-items: end;
  grid-template-columns: repeat(auto-fit, minmax(max(100% / 4, 240px), 1fr));
}
.MuiInputBase-root.MuiOutlinedInput-root {
  background-color: rgb(242, 242, 242);
}
.flights-grid div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  border: none;
  outline: none;
}
.ticket-counter {
  height: 100%;
  gap: 1px;
  height: 56px;
  display: flex;
  background-color: var(--gray-color);
}
.ticket-counter button {
  padding-inline: 20px;
  height: 100% !important;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 242, 242);
  border: none;
  font-size: 50px;
  display: flex;
  align-items: center;
}
.counter__output {
  background-color: rgb(242, 242, 242);
  padding-inline: 20px;
  align-self: stretch;
  justify-content: center !important;
  display: flex;
}

.search-trip-btn {
  padding: 10px 40px;
  background-color: #f35300;
  border-radius: 10px;
  color: white !important;
  max-width: 400px;
}

.choose-tour-or-flight {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.choose-tour-or-flight div {
  background-color: white;
  height: 65px;
  display: flex;
  color: black !important;
  align-items: center;
  padding-inline: 25px;
  cursor: pointer;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.choose-tour-or-flight h3 {
  font-size: 20px;
  pointer-events: none;
}

.css-hyxlzm {
  /* accent-color: red !important; */
  color: black;
}
@media (max-width: 774px) {
  .transpornat-options-div {
    justify-content: center;
  }

  .special-heading {
    text-align: center !important;
  }
  .flights-div {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .choose-tour-or-flight div {
    height: 60px;
    font-size: 20px;
  }
  .content {
    padding-inline: 15px;
  }
  .choose-tour-or-flight h3 {
    font-size: 14px !important;
  }
}
